<% include header %>
<div>
	<div><a href="/getRestaurantTypeList"> All Restaurant Types </a></div>
	<form action="/insertRestaurantType" method="post">
		<b>Restaurant no : </b><input type="number" name="no" id="no" required /><br/><br/>
		<b>Restaurant type : </b><input type="text" name="types" id="types" required /><br/><br/>
		<input type="submit" name="btnResType" id="btnResType" value="Save" />
	</form>
</div>