<% include header %>
<main>
	<div class="container">
		<div><a href="/getRestaurantTypeList"> All Restaurant Types </a></div>
		<form action="/insertRestaurantType" method="post">
			<table>
				<tr>
					<td><b>Restaurant no : </b></td>
					<td><input type="number" name="no" id="no" required /></td>
				</tr>
				<tr>
					<td><b>Restaurant type : </b></td>
					<td><input type="text" name="types" id="types" required /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" name="btnResType" id="btnResType" value="Save" /></td>
				</tr>
			</table>
		</form>
	</div>
</main>